[View in Colaboratory](https://colab.research.google.com/github/seraffin/FailOmen/blob/master/Mariusz/dataParseAndMore.ipynb)

In [0]:
import tensorflow as tf

# Helper libraries
import matplotlib.pyplot as plt

In [0]:
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

Found GPU at: /device:GPU:0

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [0]:
!pwd
!ls

/content
'convertMinidataToML2 (1).csv'	 convertMinidataToML2.csv   sample_data

In [0]:
import pandas as pd

#Importing dataset
dataset = pd.read_csv('convertMinidataToML2.csv', index_col=False)
#dataset = pd.read_csv('Book3.csv')

#Check the first 5 rows of the dataset. 
dataset.head(5)

,1,2,3,4,5,6,7,8,9,10,...,24271,24272,24273,24274,24275,24276,24277,24278,24279,24280
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [0]:
x = dataset.iloc[:, 0:23739].values
y = dataset.iloc[:, 23739:24280].values
y.shape

(20, 541)

In [0]:
#from sklearn.preprocessing import LabelEncoder
#labelencoder = LabelEncoder()
#y = labelencoder.fit_transform(y)

In [0]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2)
xTrain.shape

(16, 23739)

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
# Adding the input layer and the first hidden layer
model.add(Dense(12140, activation="sigmoid", input_dim=23739, kernel_initializer="uniform")) # TRY smaller input_dim value or less neurons
# Adding the second hidden layer
#model.add(Dense(23739, init = "uniform", activation = "sigmoid"))
# Adding the output layer
model.add(Dense(541, activation="sigmoid", kernel_initializer="uniform"))

In [0]:
model.compile(optimizer = tf.train.AdamOptimizer(), loss = 'binary_crossentropy', metrics = ['accuracy'])

model.fit(xTrain, yTrain, batch_size = 10, epochs = 5)

In [0]:
#test_loss, test_acc = model.evaluate(test_images, test_labels)

#print('Test accuracy:', test_acc)
#print('Test loss:', test_loss)