[View in Colaboratory](https://colab.research.google.com/github/seraffin/FailOmen/blob/master/Wojtek/workingNN_test.ipynb)

In [0]:
import tensorflow as tf
import numpy as np
import pandas as pd
import keras

# Helper libraries
import matplotlib.pyplot as plt

**Utilities:**

In [0]:
def searchForFailed(yList):
  changedRowList = []
  for row in range (len(yList)):
    if 0 in yList[row]:
      changedRowList.append(row)
  return changedRowList

def returnFailedData(xList, yList, changedRowList):
  xFailed = []
  yFailed = []
  
  for row in changedRowList:
    xFailed.append(xList[row])
    yFailed.append(yList[row])
  xFailed = np.array(xFailed)
  yFailed = np.array(yFailed)
  return xFailed, yFailed

**Check if runtime is on GPU:**

In [3]:
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

Found GPU at: /device:GPU:0

**Import dataset:**

In [4]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving convertDataToML.csv to convertDataToML.csv
User uploaded file "convertDataToML.csv" with length 233912048 bytes

In [37]:
#Importing dataset
dataset = pd.read_csv('convertDataToML.csv', index_col=False)

#Check the first 5 rows of the dataset. 
dataset.head(5)

,1,2,3,4,5,6,7,8,9,10,...,24272,24273,24274,24275,24276,24277,24278,24279,24280,24281
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [38]:
!ls

convertDataToML.csv  sample_data

**Assign values for building Neural Network:**

In [0]:
x = dataset.iloc[:, 0:23739].values
y = dataset.iloc[:, 23739:24281].values

In [60]:
print(len(x))
print(len(y))

4813
4813

**(Optional) Reduce data just to this with included failed test:**

In [0]:
xReduced, yReduced = returnFailedData(x, y, searchForFailed(y))

In [56]:
print(len(xReduced))
print(len(yReduced))

632
632

**Split valuses to Test/Train:**

test_size = 0.2   -->  Train = 80% / Test = 20%

In [0]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(xReduced, yReduced, test_size = 0.2)

**Defining Neural Network:**

In [0]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()

# Adding the input layer and the output layer
model.add(Dense(units = 542, activation="sigmoid", input_dim=23739, kernel_initializer="uniform")) # TRY smaller input_dim value or less neurons

**Running Builded NN:**

In [62]:
model.compile(optimizer = tf.train.AdamOptimizer(), loss = 'binary_crossentropy', metrics = ['accuracy'])

model.fit(xTrain, yTrain, batch_size = 10, epochs = 2)

Epoch 1/2
505/505 [==============================] - 1s 2ms/step - loss: 0.6330 - acc: 0.7865
Epoch 2/2
505/505 [==============================] - 1s 1ms/step - loss: 0.5149 - acc: 0.9923

**Check network correctness:**

In [63]:
lossTest, accTest = model.evaluate(xTestFailed, yTestFailed)

print('Test accuracy:', accTest)
print('Test loss:', lossTest)

123/123 [==============================] - 0s 612us/step
Test accuracy: 0.9957699388023314
Test loss: 0.4546450798104449